POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
POSTGRES_DB=pagila

SUPERSET_DB_NAME=superset
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=CHANGE_ME_SUPERSET_DB_PASSWORD

CUBE_DB_USER=cube_ro
CUBE_DB_PASSWORD=CHANGE_ME_CUBE_DB_PASSWORD

VECTOR_DB_NAME=vectordb
VECTOR_DB_USER=vectoruser
VECTOR_DB_PASSWORD=CHANGE_ME_VECTOR_DB_PASSWORD
